*{
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background:linear-gradient(to right top, rgb(235, 238, 238),rgb(201, 215, 216)));
}
form{
    background: rgb(248, 155, 155);
    width: 650px;
    height: 580px;
    padding: 75px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align: top;
    margin-bottom: 50px;
    color: azure;
    font-size: 30px;

}
h2{
    text-align: center;
    margin-bottom: 25px;
    color: white;
    font-size: 25px;
}
